<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about ejs file</title>
  </head>
  <body>
    <h1>This is about page and this is ejs file</h1>
    <h3>
      <ul>
        <% players.forEach(ele=>{%> 
           <li> <%=ele%></li>
             <% }) %>
      </ul>
    </h3>
  </body>
</html>
